<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="m" class="kr.co.acorn.app.MessageImple">
		<property name="name" value="우크라이나김태희"></property>
	</bean> -->
	<bean id="m" class="kr.co.acorn.app.MessageImple2"
	init-method="init" destroy-method="destroy">
		<property name="name" value="rain"></property>
	</bean>
</beans>
