<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="register" class="kr.co.acorn.control.RegisterController">
		<property name="dao" ref="dao"></property>
	</bean>
	
	
	<!-- LoginController login = new LoginController();
		login.setDao(dao); -->
	<bean id="login" class="kr.co.acorn.control.LoginController">
		<property name="dao" ref="dao"></property>
	</bean>

	<!-- MemberDAO dao = new MemberDAO(); -->
	<bean id="dao" class="kr.co.acorn.dao.MemberDAO" >
		<constructor-arg name="ds" ref="dataSource"></constructor-arg>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.168.0.206:1521:orcl" />
		<property name="username" value="scott" />
		<property name="password" value="tiger" />
	</bean>
	
	<mvc:view-resolvers>
		<mvc:jsp  prefix="/" suffix=".jsp" />
	</mvc:view-resolvers>
</beans>
