<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="after" class="kr.co.acorn.aop.LoggingAdvice"></bean>
	
	<bean id="cs" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="b" />
		<property name="interceptorNames" >
			<list>
				<value>after</value>
			</list>
		</property>
	</bean>

	<bean id="b" class="kr.co.acorn.aop.BankImple">
		<property name="name" value="홍길동" />
		<property name="balance" value="200000000"></property>
	</bean>
</beans>
